<!DOCTYPE html>
<html class="scroll-padding">
    <head>
        {{ partial "head" . }}
        <link rel="stylesheet" href="{{"/js/vue/index.css" | relURL}}">  
   </head>
<body>
    <div class="main">
        {{ partial "nav" . }}

        <div id="community" class="{{ .Params.theme }}">    
            <div id="app" class="container" page="{{ .Params.page }}"></div>
        </div>

        {{ partial "videoBlocker" . }}

        {{ partial "contact" . }}
        
        {{ partial "footer" . }}

        {{ partial "js" . }}

        <script type="module" src="{{"/js/vue/app.js" | relURL}}" defer></script>
    </div>
</body>
</html>