{{ "<!-- Live Visual Programming -->" | safeHTML }}
<section id="Features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.Features.headline }}</h2>
                <hr class="primary">
            </div>
        </div>
        <!-- Pills -->
        <div class="row stickyRow mb-5">
          <div class="col-12 d-flex justify-content-center">
            <ul class="nav nav-pills featuresMenu mt-3" id="pills-tab" role="tablist">
              <!-- Overview Menu -->
              {{ $features := site.GetPage "section" "features"}}
              {{ $sections := sort (site.GetPage "section" "features").Pages ".Params.id" "asc" }}
              {{ range $index, $value := $sections }}
              <li class="nav-item mx-md-1" role="presentation">
                <a class="nav-link {{ if (eq $index 0) }} active {{end}}" id="link-{{ replaceRE "(\\s)" "" .Params.title }}" data-toggle="pill" href="#Features-{{.Title | urlize}}" role="tab" aria-controls="v-pills-{{ .Params.id }}" aria-selected="false" title="{{.Title}}">{{ .Title }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
          {{ range $index, $value := $sections }}
            <div class="tab-pane fade show active" id="Features-{{.Title | urlize}}" role="tabpanel" aria-labelledby="pills-{{.Title | urlize}}-tab">
              {{ .Scratch.Set "sectionTitle" .Title}}
              {{ partial "features-section" .}}
            </div>
          {{ end }}
        </div>
    </div>
</section>
