{{ $sections := sort (site.GetPage "features").Pages ".Params.id" "asc" }}

{{ "<!-- Features -->" | safeHTML }}
<section id="Features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.Features.headline }}</h2>
                <hr class="primary">
            </div>
        </div>
        <!-- Pills -->
         
        <div class="row stickyRow mb-5">
          <div class="col-12 d-flex justify-content-center">
            <ul class="nav nav-pills featuresMenu mt-3" id="feature-page-pills">
              <!-- Overview Menu -->
              {{ range $index, $value := $sections }}
              <li class="nav-item mx-md-1">
                <a class="nav-link" href="#Features-{{.Title | urlize}}" title="{{.Title}}">{{ .Title }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>

        <div id="Feature-Sections">
          {{ range $index, $value := $sections }}
              <div class="col-lg-12 text-center mb-5 pt-3" id="Features-{{.Title | urlize}}">
                <h2 class="section-heading">{{.Title}}</h2>
              </div>
              {{ .Scratch.Set "sectionTitle" .Title}}
              {{ partial "features-section" .}}
          {{ end }}
        </div>
    </div>
</section>
