{{ "<!-- HEADER -->" | safeHTML }}

{{- $hero := site.GetPage "hero" -}}
{{- $features := $hero.Pages.ByWeight.Reverse -}}
{{- $arrow := resources.Get "svg/arrow.svg" -}}

<header class="d-flex align-items-center">
  <div id="hero-content">
    <div id="hero-image">
      <div id="track">
        {{ if true }}
          {{ partial "hero-slide" (dict "hero" $hero "ctx" (index (last 1 $features) 0)) }}
        {{ end }}
        {{ range $index, $elem:=$features }}
          {{ partial "hero-slide" (dict "hero" $hero "ctx" .) }}
        {{ end }}
        {{ if true }}
          {{ partial "hero-slide" (dict "hero" $hero "ctx" (index (first 1 $features) 0)) }}
        {{ end }}
      </div>
    </div>
    <div id="hero-box">
      <div id="hero-text" class="ml-2">
        <div class="vvvv">{{ .Site.Params.Hero.vvvv }}</div>
        <p>{{ .Site.Params.Hero.subtitle | safeHTML}}</p>
        <hr/>
        <div class="featureTitle">
          {{ range $index, $elem:=$features }}
            <section class="{{ if eq $index 0 }}selected visible{{ end }}" 
                {{ with .Params.image }}
                  {{with .title}} data-title="{{.}}" {{end}}
                  {{with .author}} data-author="{{.}}" {{end}}
                  {{with .photographer}} data-photographer="{{.}}" {{end}}
                {{end}}
              >
              {{ .Title }}<br/>
              {{ with .Params.button}}
                <a href="{{.url}}">{{default "Read more" .title }}</a>
              {{ end }}
            </section>
          {{ end }}
        </div>
        <ul class="pagination d-flex">
          {{ range $index, $elem:=$features }}
            <li {{if eq $index 0}}class="selected"{{end}} data-index="{{$index}}"></li>
          {{ end }}
        </ul>
      </div>
      <div class="arrows">
        {{ if true }}
          <div>{{- $arrow.Content | safeHTML -}}</div>
          <div class="right">{{- $arrow.Content | safeHTML -}}</div>
        {{ end }}  
      </div>
    </div>
    <div id="hero-attribution">
      <div class="title">7.0</div>
      <div class="author">Arístides García</div>
      <div class="photographer"></div>
    </div>
  </div>
</header>
