
{{ $ctx := .ctx }}
{{ $hero := .hero }}

{{ $widths := slice 800 1024 1200 }}
{{ $srcset := slice }}

{{ with $ctx.Params.image }}
    {{ $img := $ctx.Params.image }}
    {{ $link := "" }}
        {{with .src}}
            {{ $src := $hero.Resources.GetMatch . }}
            {{ $link = $src.RelPermalink | absURL }}

            {{ range $widths }}
                {{ $resized := $src.Resize (printf "%dx webp q80" .) }}
                {{ $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink . ) }}
            {{ end }}

            {{ $originalWebp := $src.Process "webp q80" }}
            {{ $srcset = $srcset | append (printf "%s %dw" $originalWebp.RelPermalink $originalWebp.Width) }}

            <div class="slide"
                    {{with $img.title}} data-img-title="{{.}}" {{end}}
                    {{with $img.author}} data-img-author="{{.}}" {{end}}
                    {{with $img.photographer}} data-img-photographer="{{.}}" {{end}}
                >
                <img  src="{{ ($src.Resize "800x webp q90").RelPermalink }}" 
                srcset="{{ delimit $srcset ", " }}"
                alt="{{$img.title}}"
                sizes="100vw"
                loading="lazy"
                />
            </div>
        {{ end }}

{{ end }}