{{- $selected := default $.Section $.Params.title -}}
{{- if ne .Parent .Site.Home -}}
    {{- $selected = $.Section -}}
{{- end -}}
{{- with site.Store.Get "SelectedItem" -}}
    {{- $selected = . -}}
    {{- site.Store.Delete "SelectedItem" -}}
{{- end -}}  
<div id="vvvv-navbar">
    {{- partial "logoAndToggler" -}}
    <div id="vvvv-menu">
        <ul>
           {{- range .Site.Params.menu.main -}}
                {{- partial "nav-item" (dict "ctx" . "selected" $selected) -}}
            {{- end -}}
        </ul>
    </div>
</div>