$strongOrange: #ff9000;
$strongOrangeHover: #ffa600;
$orange: $strongOrange; //#c0830a;
$orange-link-hover: $strongOrangeHover; //#ff8800;
$orange-hover: $strongOrangeHover; //#ee4b28;
$header-dark: #282828;
$blue: #4489CC;

$sans: "Open Sans", sans-serif;
$serif: "Roboto Slab", serif;