@use 'shared' as theme;

#Features
{

  @media (max-width: 769px) {
      padding-top: 2rem;
  }

  section {  
    padding: 0rem 0rem 3rem;
    border-bottom: 1px solid #000;

    &:not(:first-of-type)
    {
      padding-top: 3.5rem;
    }


    @media (max-width: 769px) {
      scroll-margin-top: 90px;

      &:first-of-type
      {
        scroll-margin-top: 200px;
      }
    }
       
    @media (min-width: 769px) {
      scroll-margin-top: -30px;
      &:not(:first-of-type)
      {
        scroll-margin-top: -80px;
      }

      &:last-of-type
      {
        border-bottom: none;
      }
    }
  }

  .nav-tabs{
    border-bottom: none;
  }

  .logos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    row-gap: 1rem;
    line-height: 1rem;
    margin: 2rem 0rem 2rem;
    row-gap: 1.5rem;
    column-gap: 2.6rem;

    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;

    padding: 2rem 0;

    &.justified{
      justify-content: space-between;
      
      img{
        width: 9rem;
      }

      @media (max-width: 1000px) {
        width: 100%;
        img{
          width: 6rem;
        }
      }
    }
  }

  main, .tab-content{

    position: relative;
    background-color: #fff;
    max-width: 1300px;
    margin: 0 auto;

    padding-top: 0; 
    
    p, ul{
      width: 90%;
    }

    scroll-margin-top: 270px;


    @media (max-width: 1200px) {
      p, ul{
        width: 100%;
      }
    }

    a:not(.btn){
      //color: theme.$linkOrange !important;
      color: #000 !important;
      // text-decoration: none !important;

      &:hover{
        // text-decoration-color: #333 !important;
        text-decoration-color: theme.$linkOrange !important;
        color: theme.$linkOrange !important;
      }

      text-decoration-thickness: 2px !important;
      text-underline-offset: 3px !important;
      text-decoration-color: theme.$orange;
    }
    
    .btn {
      text-decoration: none;
      
      &:hover{
        color: #fff;
        background-color: theme.$orange;
        border-color: theme.$orange;
      }
    }
  }

  h1, h2, h3, h4{

    margin-bottom: 1.2rem;
    font-weight: bold;
    color: #000;

    &:not(:first-child)
    {
      margin-top: 3rem;
    }
  }

  h1{
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  h2{
    font-size: 2.5rem;
    color: #666;
  }

  h3{
    font-size: 1.5rem;
    color: #333;
  }

  @media (min-width: 768px) {
    aside {
      position: sticky;
      top: 7rem;
    }
    .aside{
      z-index: 10;
    }
  }

  @media (max-width: 769px) {
    aside {
      position: static;
    }

    .aside{
      top: 61px;
      padding-top: 0.5rem;
      background-color: #fff;
      z-index: 10;
    }

  }

  aside {
    padding: 0;
    height: fit-content;
    position: sticky;
  }

  main {
    min-width: 0; /* prevents overflow issues */
    
      a:not(:has(img))
      {
          text-decoration: underline;
          text-underline-offset: 0.2rem;
          text-decoration-color: #ccc;

          &:hover
          {
              color: theme.$orange-link-hover;
          }
      }

      li::marker {
        content: '—  ' !important;
      }

  }

  
  img{
      max-width: 100%;
      height: auto;
  }

  .featuresMenu
  {
    // border-radius: 5px;
    // box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.50);
    // background-color: #f0f0f0;
    list-style: none;
    // background-color: #eee;

    padding: 0.5rem 0rem;

    font-size: 1.05rem;

    li{
      margin: 0;
      // padding: 0.5rem 0rem;
      width: 100%;
      position: relative;
      padding: 0.5rem 0rem;
    }

    li::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #eee;
    }

    li:last-child::after{
      display: none;
    }

    li:first-child{
      padding-top: 0;
    }

    .nav-link
    {
      color: #000;
      margin: 0rem;
      padding: 1rem 1rem;
      width: 100%;
      text-align: left;
      border: none;
      background-color: inherit;

      border-radius: 5px;
      transition: background-color 0.3s;

      // background-color: #eee;
      
      &.active
      {
        background-color: #000; //theme.$orange;
        color: #fff;
        cursor: pointer;
        pointer-events: none;
        // border-bottom: 3px solid theme.$orange;

        &:hover
        {
          color: #fff !important;
        }
      }

      &:hover
      {
        background-color: #ddd;
      }

    }

    @media (max-width: 768px)
    {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr); /* Change 3 to 2 for two columns */
      column-gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 1rem 0 2rem;
      
      li {     
        box-sizing: border-box;
        padding: 0rem 0rem;
      }

      li:last-child::after{
        display: block;
      }

      .nav-link
      {
        padding: 0.5rem 0.5rem;
      }
    }
  } 

  h2
  {
    color: #000;
  }

  .mediaShadow
  {
    box-shadow: 0 4px 15px 3px rgba(0,0,0,.3);
  }
  
  .description
  {
    color: #ddd;
    font-size: 1em;
    line-height: 1.6em;

    a
    {
      color: theme.$orange;
    };
    
    ul{
      padding: 0 0 0 1em;
      list-style-type: square;
    }

    li::marker {
      color: theme.$orange;
      // content: '✓';
    }

    li{
      padding-left: 0.5em;
    }
  }

}



