
@use 'shared' as theme;

$height: 600px;

:root {
  --offset-distance: 0.8;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    // padding: 2em 0 4em;
    height: $height;
    background-color: black;
    container-type: size;
    container-name: header;

    .no-transition{
        transition: none !important;
    }
}

#hero-content{
    background-color: black;
    transition: opacity 0.5s;
    opacity: 0;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

#hero-image {
    width: 100%;
    height: $height;
    background-color: black;
    overflow: hidden;
    top: 0;
}

#track {
    display: flex;
    align-items: center;
    height: 100%;
    transition: transform 0.55s cubic-bezier(0.77, 0, 0.175, 1);
    will-change: transform;

    .slide {
        flex-shrink: 0;
        width: 80%;
        height: 100%;
        overflow: hidden;
        transition: opacity 0.4s, filter 0.4s, transform 0.55s cubic-bezier(0.77, 0, 0.175, 1);
        opacity: 0.3;
        transform-origin: left center;
        cursor: pointer;

        &:hover{
            opacity: 0.4;
        }

        &.active {
            opacity: 1;
            transform-origin: left center;
            cursor: default;
            filter: none;
        }

        img {
            width: 100vw;
            height: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-position: center -1.5rem;
            display: block;
            pointer-events: none;
            user-select: none;
        }
    }
}

        
#hero-box{
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 500px;
    height: 500px;
    padding: 0rem 7rem 0rem 0rem;
    background-color: rgb( 0, 0, 0, 0.7 );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 12;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#progressbar
{
    width: 100%;
    height: 2px;
    background-color: #555;
    position: absolute;
    bottom: 0;

    .bar{
        height: 100%;
        background-color: theme.$blue;
        width: 0%;
    }

    .active{
        width: 100%;
    }
}

#hero-pagination{

    margin: 0rem 1rem 1rem 2rem;

    .arrows{
        width: 100%;
        position: relative;
        display: flex;
        gap: 10px;
        z-index: 13;
        height: 2rem;

        .icon {
            cursor: pointer;
            height: 16px;
            width: 50px;
            background-color: #999;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            &:hover{
                background-color: #fff;
            }

            &.arrow-icon{
                mask-image: url('/img/icons/arrow.svg');
                -webkit-mask-image: url('/img/icons/arrow.svg');
            }
            
            &.right{
                transform: scaleX(-1);
            }
        }

        .disabled{
            pointer-events: none;
            opacity: 0.3;
        }
    }

    ul{
        display: flex;
        gap: 6px;
        align-items: flex-end;
        display: flex;
        position: relative;

        li{
            display: inline-block;
            position: relative;
            width: 60px;
            height: 1px;
            background-color: #999;
            cursor: pointer;
            transition: color 0.3s ease;              

            &:hover{
                background-color: #fff;
            }

            &.selected{
                background-color: #fff;
                height: 3px;
            }

            &::before {
                content: "";
                line-height: 0px;
                position: absolute;
                top: -5px;
                bottom: -5px;
                left: 0;
                right: 0;
            }
        }
    }
}

#hero-attribution{
    background-color: #000;
    position: absolute;
    right: 0rem;
    bottom: 0px;
    margin: 0px;
    line-height: 1rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-left: 1px solid #fff;
    text-align: left;
    font-size: 0.8rem;
    z-index: 13;

    .photographer{
        color: #666;
        font-style: italic;
    }
}

#hero-text-mobile{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    z-index: 14;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7px);
    padding: 1rem 2rem 1rem 1.4rem;
    visibility: hidden;

    p {
        font-size: 1em;
        font-weight: 200;
        text-transform: uppercase;
        color: #ccc;
        padding: 0;
        margin: 0;
    }
    b{
        font-weight: 700;
        color: #fff;
    }
}

#hero-text {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    z-index: 13;
    position: relative;
    padding-top: 1rem;
    margin-left: 2rem;

    p {
        font-size: 1em;
        font-weight: 100;
        text-transform: uppercase;
        line-height: 1.5em;
        color: rgba(255, 255, 255, 0.8);
    }

    b{
        color: #fff;
    }

    .featureTitle {
        position: relative;
        width: 100%;
        display: grid;

        & > section{
            grid-area: 1/1;
        }

        section
        {
            width: 100%;
            text-transform: none;
            font-size: 2.4rem;
            color: #fff;
            font-weight: normal;
            line-height: 3rem;
            margin: 0rem 0rem 2rem;
            padding: 0;
            opacity: 0;
            transition: 0.2s opacity ease;
            display: none;

            &.selected{
                opacity: 1;
            }

            &.visible{
                display: block;
            }

            a {
                &:hover{
                    color: inherit;
                }

                &.button{
                    border: none;
                    height: 1rem;
                    color: #000;
                    background-color: #fff;
                    font-size: 1rem;
                    padding: 0.2rem 1rem;
                    border-radius: 1px;
                    transition: 0.2s background-color ease;
                    line-height: 1.5rem;

                    &:hover{
                        background-color: theme.$orange;
                    }
                }
            }
        }
    }

    hr{
        border-color: #fff;
        border-width: 1px;
        max-width: 30%;
        margin: 2rem 0;
    }

    .vvvv
    {
        padding: 0px;
        margin: 0 0 1rem 0;
        font-weight: 400;
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 0.5rem;
    }

    b
    {
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
    }

}


@media (max-width: 800px)
{

    :root {
        --offset-distance: 1;
    }

    header{
        height: 92svh;
        max-height: 650px;
    }

    #track{
        .slide{
            width: 100%;
        }
    }

    #hero-image{
        height: 70%;
        max-height: 900px;
    }

    #hero-box{
        left: 0;
        width: 100%;
        padding: 0rem;
        height: 40%;
    }

    #hero-text{
        max-width: 21rem;
        min-width: 21rem;
        padding: 2rem 0rem 2rem;

        .vvvv{
            display: none;
        }

        p{
            display: none;
        }

        .featureTitle
        {
            section{
                font-size: 2.3rem;
                line-height: 2.8rem;
                margin-bottom: 0rem;
            }
        }

        hr{
            display: none;
            margin: 1rem 0;
        }
        
    }

    #hero-pagination{

        ul{
            margin-top: 0rem;
        }
    }
}

@media (max-width: 800px) and (height > 650px)
{
    #hero-attribution{
        bottom: 40%;
        top: auto;
        height: auto;
    }

    #hero-text-mobile{
        visibility: visible;
    }
}

@media (height < 650px)
{
    header{
        height: 250px;
    }

    #hero-text-mobile{
        visibility: none;
    }

    #hero-content {
        height: 250px;
    }

    #hero-box {
        height: 250px;
        background-color: rgb( 0, 0, 0, 0.4 );
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    #hero-image {
        height: 250px;
    }

    #hero-attibution {
        bottom: 0px;
        top: auto;
        height: auto;
    }
}