@use 'shared' as theme;

#mainNav
{
    background-color: theme.$header-dark;
    
    .navbar-toggler {
        border: none;
        color: #fff;
    }

    .nav-link
    {
        color: #fff;
    }

    .nav-link:hover
    {
        color: theme.$orange;
    }

    .nav-item
    {
        margin: 0px;
        line-height: 1em;
        
        &.download-pill
        {
            border-radius: 6px;
            background-color: theme.$orange;
            line-height: 1em;

            width: fit-content;

            -webkit-transition: all .35s;
            -moz-transition: all .35s;
            transition: all .35s;
            
            a {
                text-transform: uppercase;
                font-weight: 700;    
                color: #ffffff;
                margin: 0px;
                font-size: 13px;

                &.active
                {
                    color: #ffffff !important;
                }
            }

            &:hover
            {
                background-color: theme.$orange-hover;
            }
        }

    }
}