#Packs{

    padding-top: 2rem;

    .emptyContent
    {
        ul{
            list-style: none;
            padding-left: 0;
        }

        a{
            margin-right: 0.5rem;
            text-decoration: underline;
            text-decoration-color: #ccc;
            text-underline-offset: 0.2rem;
        }
    }

    #form{
        line-height: 1rem;

        button{
            line-height: 1rem;
            font-size: 1rem;
            padding: 1 rem;
        }

        input{
            margin: 0 !important;
        }

        margin: 1rem 0rem;
    }

    #toc {

        .nav-link {
            color: inherit;
            -webkit-text-fill-color: inherit;
        }

        button{
            text-align: left;
            background: #ffffff;
            box-shadow: none;
            border: none;
            padding: 0.2rem 0.4rem;
            border-radius: 2px;
            margin-bottom: 3px;

            .badge{
                color: #fff;
                padding: 0.2rem 0.4rem;
                font-weight: inherit;
            }
    
            &:hover{
                background-color: #eee;
            }
    
            &.active{
                color: #000;
                background-color: #ddd;   
            }
    
            &.inactive{
                color: #aaa;
            }

            &.bold{
                font-weight: bold;
            }
    
            span{
                color: #999;
                padding-left: 0.5rem;
            }
        }
    }

    .packItem{
        border-bottom: 1px solid #eee;
        padding: 1rem 0rem;
        border-radius: 3px;
        alignment-baseline: baseline;

        &:first-of-type {
            padding-top: 0;
        }

        // &:hover{
        //     background-color: #efefef;
        // }

        h5{
            padding-bottom: 0;
            margin-bottom: 0;
            color: #000;
            font-weight: bold;
            font-size: 1.1rem;

            a {
                text-decoration: none;
            }
        }

        .authors{
            font-size: 0.9rem;
            color: #666;
        }

        .totalDownloads{
            font-size: 0.9rem;
            color: #999;
                       
            .number{
                color: #666;
            }

            img{
                height: 1rem;
            }
        }

        .summary{
            margin-bottom: 0.5rem;
        }

        .links{
            color: #666;
            font-size: 0.9rem;
            a{
                margin-right: 0.5rem;
                text-decoration: underline;
                text-decoration-color: #ccc;
                text-underline-offset: 0.2rem;
            }
        }

        .tags{
            margin-top: 0.8rem;

            .badge{
                font-size: 0.8rem;
                font-weight: inherit;
                background-color: #eee;
                border-radius: 2px;
            }
        }

        .category{
        }
    }
}