#Packs{

    padding-top: 2rem;

    .lastUpdated{
        margin-top: 1rem;
        border-top: 1px solid #eee;
        padding-top: 1rem;
        color: #aaa;
        font-size: 0.8rem;
    }

    #packsContent
    {
        h1{
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
            color: #000;
        }
    
        h2{
            font-size: 1.4rem;
            margin: 1rem 0rem 1.5rem;
            color: #333;
    
            &:first-child{
                margin-top: 0;
            }
        }
    }


    .emptyContent
    {
        ul{
            list-style: none;
            padding-left: 0;
        }

        a{
            margin-right: 0.5rem;
            text-decoration: underline;
            text-decoration-color: #ccc;
            text-underline-offset: 0.2rem;
            font-weight: bold;
        }
    }

    #form{
        line-height: 1rem;

        button{
            line-height: 1rem;
            font-size: 1rem;
            padding: 1 rem;
        }

        input{
            margin: 0 !important;
        }

        #clearBtn{
            border-color: #ccc;
            color: #000;

            &:hover{
                background-color: #eee;
                color: #000;
            }
        }

        margin: 1rem 0rem;
    }

    #toc {

        .nav-link {
            color: inherit;
            -webkit-text-fill-color: inherit;
        }

        button{
            text-align: left;
            background: #ffffff;
            box-shadow: none;
            border: none;
            padding: 0.2rem 0.4rem;
            border-radius: 2px;
            margin-bottom: 3px;

            .badge{
                color: #fff;
                padding: 0.2rem 0.4rem;
                font-weight: inherit;
            }
    
            &:hover{
                background-color: #eee;
            }
    
            &.active{
                color: #000;
                background-color: #ddd;   
            }
    
            &.inactive{
                color: #bbb;
                pointer-events: none;
            }

            &.bold{
                font-weight: 600;
            }
    
            span{
                color: #999;
                padding-left: 0.5rem;
            }
        }
    }

    .packItem{
        border-bottom: 1px solid #eee;
        padding: 0 1rem 1rem;
        border-radius: 3px;
        margin-bottom: 1rem;
        alignment-baseline: baseline;

        // &:first-of-type {
        //     padding-top: 0;
        // }

        .version{
            font-size: 0.9rem;
            color: #888;
            margin-bottom: 0.5rem;

            img{
                margin-top: -2px;
                height: 1rem;
                margin-right: 0.5rem;
                color: #666;
            }
        }

        h3{
            padding-bottom: 0;
            margin-bottom: 0;
            color: #000;
            font-weight: bold;
            font-size: 1.1rem;

            a {
                text-decoration: none;
            }
        }

        .authors{
            font-size: 0.9rem;
            color: #666;
        }

        .totalDownloads{
            font-size: 0.9rem;
            color: #999;
                       
            .number{
                color: #666;
            }

            img{
                height: 1rem;
            }
        }

        .summary{
            margin-bottom: 0.5rem;
        }

        .links{
            color: #666;
            font-size: 0.9rem;
            a{
                margin-right: 0.5rem;
                text-decoration: underline;
                text-decoration-color: #ccc;
                text-underline-offset: 0.2rem;

                &:hover{
                   color: #000; 
                }
            }

            .badge-sponsor{
                background-color: hsl(340, 84%, 70%);
                padding: 0.2rem 0.5rem;
                font-weight: inherit;
                font-size: inherit;
                color: #fff;
                text-decoration: none;
                border-radius: 3px;

                &:hover{
                   background-color: hsl(340, 84%, 60%);
                   color: #fff;
                }
            }
        }

        .tags{
            margin-top: 0.8rem;

            .badge{
                font-size: 0.8rem;
                font-weight: inherit;
                background-color: #eee;
                border-radius: 2px;
                color: #555;
            }
        }
    }
}