<!DOCTYPE html>
<html class="scroll-padding">
    <head>
        {{ partial "head" . }}
        <link rel="stylesheet" crossorigin href="{{"/js/vue/main.css" | relURL}}">  
   </head>
<body>
    <div class="main">
        {{ partial "nav" . }}

        <div id="Community-app" class="container {{ .Params.theme }}">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        {{ partial "videoBlocker" . }}

        {{ partial "contact" . }}
        
        {{ partial "footer" . }}
    </div>
    <script type="module" crossorigin src="{{"/js/vue/app.js" | relURL}}" defer></script>
    {{ partial "js" . }}
</body>
</html>