{{- $ctx := .ctx -}}
{{- $selected := .selected -}}
{{- $name := index $ctx "name" -}}
{{- $url := index $ctx "name" | absLangURL -}}
{{- $selectedStyle := "" -}}
{{- $style := "" -}}
{{- $icon := false -}}

{{- with index $ctx "icon" -}}
    {{- if eq . "pack" -}}
        {{- $icon = resources.Get "img/icons/Box24Filled.svg" -}}
    {{- else if eq . "download" -}}
        {{- $icon = resources.Get "img/icons/ArrowDownload24Filled.svg" -}}
    {{- else -}}
        {{- $icon = resources.Get "img/icons/ExtensionFilled.svg" -}}        
    {{- end -}}
{{- end -}}

{{- with index $ctx "style" -}}
    {{- $style = . -}}
{{- end -}}

{{- if eq (lower $selected) (lower $name) -}}
    {{- $selectedStyle = "selected" -}}
{{- end -}}
{{- with index $ctx "url" -}}
    {{- $url = . -}}
{{- end -}}
{{- with index $ctx "localurl" -}}
    {{- $url = . | absLangURL -}}
{{- end -}}

<li {{ if $style -}}class="{{- $style -}}"{{- end }}>
    <a href="{{- $url -}}" {{ if $selectedStyle }} class="selected" {{ end }} title="{{$name}}">
        {{- if $icon -}}
            {{- $icon.Content | safeHTML -}} <span class="title">{{$name}}</span>
        {{- else -}}
            {{- $name -}}
        {{- end -}}
    </a>
</li>