{{ $title := replace .ctx.title " " "" }}
<div class="tab-pane fade{{if eq .index 0}} show active {{end}}" data-category-content="content" id="v-pills-content" role="tabpanel" aria-labelledby="v-pills-{{$title | urlize}}-tab">
    <h1>{{.ctx.title}}</h1>
    <div data-content>      
        {{ $showCategories := eq .ctx.title "All" }}
        {{ with .ctx.packs }}
            {{ range . }}
                {{ $ctx := merge . (dict "showCategories" $showCategories) }}
                {{ partial "packs-pack" $ctx}}
            {{ end }}
        {{ end }} 
        {{ with .ctx.categories }}
            {{ range . }}
                <div class="category mb-4" data-category-sub="{{.title}}">
                    <h2>{{ .title }}</h2>
                    {{ with .packs }}
                        {{ range . }}
                            {{ partial "packs-pack" . }} 
                        {{ end }}
                    {{ end }} 
                </div>
            {{ end }}
        {{ end }} 
    </div>
    <div data-empty hidden="true" class="emptyContent"></div>
</div>