{{- "<!-- PACKS -->" | safeHTML -}}
{{ $packs := .GetPage "Packs/_index.md" }}
{{ $extensions := .GetPage "Extensions/_index.md" }}
{{ $about := .GetPage "Packs/about.md" }}
{{ $title := "" }}
{{ $active := "" }}
{{ if eq . $packs }}
    {{ $title = "Packs for vvvv"}}
    {{ $active = "packs" }}
{{ else if eq . $extensions }}
    {{ $title = "Extensions for vvvv" }}
    {{ $active = "extensions" }}
{{ else if eq . $about }}
    {{ $title = "About"}}
    {{ $active = "about" }}
{{ end }}

<section id="Packs">
    <div class="container">
        <div class="d-flex flex-column flex-lg-row align-items-baseline mb-3">
            <h2 class="order-2 order-lg-1 mt-lg-0 mt-3"><b>{{$title}}</b></h2>
            <div class="order-1 order-lg-2 topLinks ml-lg-auto">
                <a href="{{ $packs.RelPermalink }}" class="btn btn-light {{if eq $active "packs"}} active {{end}}">Packs</a> 
                <a href="{{ $extensions.RelPermalink }}" class="btn btn-light {{if eq $active "extensions"}} active {{end}}">Extensions</a>
                <a href="{{ $about.RelPermalink }}" class="btn btn-light {{if eq $active "about"}} active {{end}}">About</a>
            </div>
        </div>
    </div>
    <div class="container">
        {{ $variant := .Params.variant | default "packs-list" }}
        {{ partial $variant . }}      
    </div>
</section>  