

{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- $titleArray := slice -}}
{{- with .Text -}}{{$titleArray = $titleArray | append .}}{{- end -}}
{{- with .Title -}}{{$titleArray = $titleArray | append .}}{{- end -}}
{{- $title := "" -}}
{{- if $titleArray -}}
  {{- $title = delimit $titleArray " / " -}}
{{- end -}}
{{- $widths := slice 400 800 1000 -}}
{{- $srcset := slice -}}
{{- $sizes := slice -}}
{{- $resized := slice -}}
{{- $isBlog := eq .Page.Section "blog" -}}
{{- $src := "" -}}
{{- with $title -}}
<figure>
{{- end -}}
{{- if $img -}}
  {{ if $isBlog -}}
    {{- $src = $img -}}
  {{- else -}}
    {{- range $w := $widths -}}
      {{- $resizedImg := $img.Resize (printf "%dx webp q90" $w) -}}
      {{- $srcset = $srcset | append (printf "%s %dw" $resizedImg.RelPermalink $w) -}}
      {{- $resized = $resized | append $resizedImg -}}
    {{- end -}}
    {{- $src = index $resized 2 -}}
  {{- end -}}
    <img 
      src="{{ $src.RelPermalink }}" 
      srcset="{{ delimit $srcset ", " }}" 
      sizes="100vw" 
      loading="lazy"
      {{- with .Text }}alt="{{ . }}"{{ end -}}
      {{- with $title }}title="{{ . }}"{{ end -}}
      />
  {{- else -}}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" />
{{- end -}}
{{- with $title -}}
    <figcaption>{{$title}}</figcaption>
</figure>
{{end}}