$orange: #ffa800;
$orange-link-hover: #ff8800;
$orange-hover: #ee4b28;

.overview
{

  a.all {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: #bbb;
  }

  .logo {
    height: 55px;
    margin: 1rem 4rem 1rem 0;

    img{
      max-height: 55px;
    }
  }

  .section{
    border-radius: 5px;
    background-color: #fafafa;
    padding: 1rem;

    h2{
      font-size: 1.1rem;
      font-weight: 600;
    }

    .forumList{
      width: 100%;
    }
    
    .forumLink{
      background-color: inherit;
      font-size: 0.9rem;
      border-color: #eee;
    }
  }

  .socialHeader{
    .socialItem{
      border-radius: 5px;
      background-color: #fafafa;
  
      font-size: 0.9rem;
  
      img{
        width: 24px;
        height: 24px;
      }
  
      .link{
        background-color: inherit;
      }

      a:hover{
        color: $orange;
      }
  
      h6{
        font-weight: 600;
      }
    }
  }
}

#UsersForHire{
  .card{
    
    color: inherit;
    cursor: pointer;
    border-radius: 3px;
    background-color: #f6f6f6;
    
    border: 0px;
    
    .imageContainer
    {
      overflow: hidden;
    }

    .n-tag{
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 0.5rem 0.7rem;
    }

    &:hover{
      background-color: #eee;
      img{
        transform: scale(1.1);
      }
    }
   
    img{
      transition: transform 0.1s ease;

      height: 150px;
      overflow: hidden;
      object-fit: cover;
      transform: scale(1);
    }
  }
}

#community
{
  .profile-logo{
    max-width: 150px;
    min-height: 150px;
  }

  .userTable{
    white-space: pre;
  }
  
  h3{
    margin-bottom: 0px;
  }

  .profileContent
  {
    p{
      line-height: 1.7rem;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 0.2rem;
      text-decoration-color: #999;
    }
  }
}

.userView{
  a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: #bbb;
    
    &:hover{
      text-decoration-color: #000;
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }
}

#profile{
  text-align: left;

  .imageHelp{
    font-size: 0.8rem;
  }

  hr{
    max-width: 100%;
    border-color: #ddd;
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
  }

  a {
      color: inherit;

      text-decoration: underline;
      text-underline-offset: 0.3em;
      text-decoration-color: #bbb;
  }

  .col-form-label
  {
    font-size: 0.9rem;
  }

  .fullWidth{
    width: 100%;
    margin-left: inherit;
    margin-right: inherit;
  }

  .field-preview{
    font-size: 0.9rem;

    p {
      font-size: inherit;
    }

    ul{
      padding-left: 1rem;
    }
  }

  .field-row {
    display: flex;
    margin-bottom: 1rem;
  }

  h2{
    border-bottom: 1px solid #555;
    padding-bottom: 0.3rem;
  }

  .disabled{
    pointer-events: none;
    opacity: 0.3;
  }

  label{
    color: #666 !important;
  }

  .profile-menu{
    display: flex;
    color: #333;
    text-align: left;
    gap: 0.5rem;
    flex-direction: column;

    .item{
      width: 100%;
      padding: 0.8rem;
      background-color: #eee;
      border-radius: 5px;
      cursor: pointer;

      &.selected{
        background-color: #aaa;
      }

      &:hover
      {
        background-color: #bbb;
      }
    }
  }
}

.location, .joined{
  color: #666;
  font-size: 0.9rem;
}

.internship{
  color: #666;
  font-size: 0.9rem;
  a{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: #bbb;

    &:hover{
      text-decoration: underline;
      text-decoration-color: #bbb;
    }
  }
}

.socialView{
  .key{
    text-transform: uppercase;
    color: #666;
    font-size: 0.8rem;
    margin: 0.3rem 0rem 0.2rem;
  }

  div:last-child{
      border-bottom: none;
    }

  .socialItem
  {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.7rem;
  }

}

.logoListView{

  .name{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }


  .line{
    border-top: 1px solid #eee;
  }

  .companyCard{
    &:hover{
      background-color: #f0f0f0;
    }
   
    border-radius: 5px;
    background-color: #fbfbfb;
  }

  .company{
    cursor: pointer;
  }
  
  .logo {
    height: 60px;
    img{
      max-height: 60px;
    }
  }
}
