$orange: #ffa800;
$orange-link-hover: #ff8800;
$orange-hover: #ee4b28;
$tag-dark:  #666;

.noImageBack{
  background-color: inherit;
}

.video { 
  
  background-color: #000;

  .video-placeholder{
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    aspect-ratio: 16 / 9;
    position: relative;
    background-color: #fff;
    
    .play-btn {
        position: absolute;
        width: 4rem;
        height: 4rem;
        transform: translate(-50%, -50%);
        left: 50%; top: 50%;
        color: #fff;
        fill: #fff;
        text-align: center;
        background-color: #00000088;
        padding: 0.7rem 0.6rem 0.7rem 0.8rem;
        border-radius: 4rem;

        &:hover{
          transform: translate(-50%, -50%) scale(1.1);
        }
    }
  }

  .video-iframe iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
  }
}


.overview
{

  .staffpicks{
    .row {
      &.selected{
        background-color: #eee;
      }

      p{
        padding: 0px;
        margin: 0px;
        line-height: 1.5rem;
      }

      cursor: pointer;
      border-radius: 3px;

      &:hover{
        background-color: #f0f0f0;
      }
    }
  }

  .lastMonth{
    vertical-align: top;
    
    .second{
      font-size: 0.9rem;
    }
  }

  .nugets{
    .by{
      font-size: 0.8rem;
      color: #888;
    }

    .new{
      background-color: #aaa;
      color: #fff !important;
    }
  }

  a.all {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: #bbb;
  }

  .logo {
    height: 55px;
    margin: 1rem 1.5rem 1rem 1.5rem;

    img{
      max-height: 55px;
    }
  }

  .section{
    padding: 1rem;

    .footer{
      font-size: 0.9rem;
      color: #666;
      border-top: 1px solid #888;
      padding: 0.5rem 1rem;
      background-color: #f0f0f0;
      vertical-align: baseline;

      a{
        color: #444;
        text-decoration: underline;
        text-decoration-color: #aaa;

        &:hover{
          color: #000;
        }
      }

      .btn{
        color: #fff;
        border-radius: 15px;
        border: none;
        padding: 0rem 0.7rem;
        font-size: 0.9rem;
        background-color: #aaa;
        text-transform: inherit;

        &:hover{
          background-color: #888;
        }
      }
    }

    h2{
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    .sectionBorder{
      border-bottom: 1px solid #000;
    }

    .darkTag{
        background-color: $tag-dark;
        color: #fff;
    }

    .dates{
      .row{
        border-bottom: 1px solid #eee;
      }
      .upcoming{
        background-color: $tag-dark;
      }
      .info{
        margin-top: 0rem;

        .title{
          font-size: 1rem;
        }
        .date{
          font-size: 0.9rem;
      }
      }
    }

    .list{
      width: 100%;
      font-size: 0.9rem;
      
      td{
        border-bottom: 1px solid #dee2e6;
        border-top: inherit;
        padding: 0.4rem 0rem;
      }

      .count{
        color: #888;
      }

      li{
        padding: 0.5rem 0rem;
        margin: 0px;
      }
      
      a{
        background-color: inherit;
        border-color: #eee;
      }
    }
  }

  .socialItem{
          
    a{
      font-size: 0.9rem;
      color: #666;

      &:hover{
        color: $orange;
      }
    }

    img{
      width: 24px;
      height: 24px;
    }

    h6{
      font-weight: 600;
    }
  }

}

#UsersForHire{
  .card{
    
    color: inherit;
    cursor: pointer;
    border-radius: 3px;
    background-color: #f6f6f6;
    
    border: 0px;
    
    .card-body{
      a{
        pointer-events: none;
      }
    }

    .imageContainer
    {
      overflow: hidden;
    }

    .n-tag{
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 0.5rem 0.7rem;
    }

    &:hover{
      background-color: #eee;
      img{
        transform: scale(1.1);
      }
    }
   
    img{
      transition: transform 0.1s ease;

      height: 150px;
      overflow: hidden;
      object-fit: cover;
      transform: scale(1);
    }
  }
}

#Community-app
{

  min-height: 30rem;
  padding-bottom: 5rem;

  .profile-logo{
    max-width: 150px;
    min-height: 150px;
  }

  .userTable{
    white-space: pre;
  }
  
  h3{
    margin-bottom: 0px;
  }

  .profileContent
  {
    p{
      line-height: 1.7rem;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
      text-decoration-color: #bbb;
    }
  }

  .communityList{
    .map-container {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    }

    .marker-cluster-small,
    .marker-cluster-medium,
    .marker-cluster-large {
      background-color: rgba(0, 0, 0, 0.6) !important;
      color: white;
    }

    .marker-cluster div {
      background-color: rgba(0, 0, 0, 0.6) !important;
      border-radius: 50%;
    }

    .marker-cluster,
    .marker-cluster div,
    .custom-cluster {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.userView{
  a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: #bbb;
    
    &:hover{
      text-decoration-color: #000;
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }
}

#profile{
  text-align: left;

  .stickyFormButtons{
    position:  sticky;
    bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 30px #ccc;
    padding: 0.5rem 1rem;
    z-index: 1000;
  }

  .map{

    .info {
      font-size: 0.9rem;
      margin-top: 0.4rem;
      color: #333;
    }

    p{
      font-size: inherit;
      margin-bottom: 0.5rem;
      color: inherit;
    }

    .attribution{
      margin: 0.5rem 0rem;
      font-size: 0.8rem;
      color: #999;
    }

    .map-container
    {
      width: 100%;
      height: 350px;
      border-radius: 8px;
      overflow: hidden;

      a{
        text-decoration: none;
      }
    }
  }

  .errors{
    .n-alert-body__title
    {
      font-size: inherit;
      line-height: inherit;
    }

    ul{
      margin-bottom: 0rem;
      list-style-type: "-";
      padding-left: 1rem;
    }
    li{
      padding-left: 0.5rem;
    }

  }

  .imageHelp{
    font-size: 0.8rem;
  }

  hr{
    max-width: 100%;
    border-color: #ddd;
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
  }

  a {
      color: inherit;

      text-decoration: underline;
      text-underline-offset: 0.3em;
      text-decoration-color: #bbb;
  }

  .col-form-label
  {
    font-size: 0.9rem;
  }

  .fullWidth{
    width: 100%;
    margin-left: inherit;
    margin-right: inherit;
  }

  .field-preview{
    font-size: 0.9rem;

    p {
      font-size: inherit;
    }

    ul{
      padding-left: 1rem;
    }
  }

  .field-row {
    display: flex;
    margin-bottom: 1rem;
  }

  h2{
    border-bottom: 1px solid #555;
    padding-bottom: 0.3rem;
  }

  .disabled{
    pointer-events: none;
    opacity: 0.3;
  }

  label{
    color: #666 !important;
  }

  .profile-menu{
    display: flex;
    color: #333;
    text-align: left;
    gap: 0.5rem;
    flex-direction: column;

    .item{
      width: 100%;
      padding: 0.8rem;
      background-color: #eee;
      border-radius: 5px;
      cursor: pointer;

      &.selected{
        background-color: #aaa;
      }

      &:hover
      {
        background-color: #bbb;
      }
    }
  }
}

.location, .joined, .smallTitle{
  color: #666;
  font-size: 0.90rem;
}

.internship{
  color: #666;
  font-size: 0.9rem;
  a{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: #bbb;

    &:hover{
      text-decoration: underline;
      text-decoration-color: #bbb;
    }
  }
}

.socialView{
  .key{
    text-transform: uppercase;
    color: #888;
    font-size: 0.8rem;
    margin: 0.3rem 0rem 0.2rem;
  }

  div:last-child{
      border-bottom: none;
    }

  .socialItem
  {
    padding-bottom: 0.7rem;
  }

}

.logoListView{

  .name{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }


  .line{
    border-top: 1px solid #eee;
  }

  .companyCard{
    cursor: pointer;

    &:hover{
      background-color: #f0f0f0;
    }

    border-bottom: 1px solid #eee;

    .logo {
      height: 60px;
      img{
        max-height: 60px;
      }
    }
  }

}

.connectionsView{

  .pagination{
    font-weight: normal;
  }

  .profileLink{

    color: #777;

    a{
      text-decoration: underline;
      text-underline-offset: 0.2rem;
      text-decoration-color: #bbb;
  
      &:hover{
        text-decoration: underline;
        text-decoration-color: #bbb;
      }
    }
  }
}
