#profile{
  text-align: left;

  .field-row {
    display: flex;
    margin-bottom: 1rem;
  }

  h2{
    border-bottom: 1px solid #555;
    padding-bottom: 0.3rem;
  }

  .disabled{
    pointer-events: none;
    opacity: 0.3;
  }

  label{
    color: #666 !important;
  }

  .profile-menu{
    display: flex;
    color: #333;
    text-align: left;
    gap: 0.5rem;
    flex-direction: column;

    .item{
      width: 100%;
      padding: 0.8rem;
      background-color: #eee;
      border-radius: 5px;
      cursor: pointer;

      &.selected{
        background-color: #aaa;
      }

      &:hover
      {
        background-color: #bbb;
      }
    }
  }
}